@font-face {
  font-family: "iconfont"; /* Project id 3142201 */
  src: url('iconfont.woff2?t=1642148808767') format('woff2'),
       url('iconfont.woff?t=1642148808767') format('woff'),
       url('iconfont.ttf?t=1642148808767') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Nginx:before {
  content: "\e600";
}

.icon-2zuixiaohua-1:before {
  content: "\e65a";
}

.icon-zuidahua:before {
  content: "\e66b";
}

.icon-zhuxiaoguanji:before {
  content: "\e8d8";
}

